<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1 style="color: black;">Welcome to Victory Lap's Portal <%=@user.first_name %>. Your login credentials are below:</h1>
      <p style="color: black;">Email: <%=@user.email%></p>
      <p style="color: black;">Password: <%=@user.password%></p>
      <p style="color: black;">Please login to change your password and add the rest of your profile details. Feel free to reach out to Victory Lap if you have any questions!</p>
   </body>
</html>