<!-- <div class="container" style="background-color: lightgray;color: white;">
  <div class="row">
      <div class="col-sm-2">
        <h3><a href="http://www.victorylap.io/blog/" target="_blank"></a>Our Blog</h3>
      </div>
      <div class="col-sm-2">
        <h3>Legal</h3>
        <ul>
          <li><a href="/tos">Terms of Use</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h3>Contact</h3>
        <ul>
          <li>info@smbrate.com</li>
          <li>(304) 506-7283</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3>About</h3>
        <p>SMBRate is a service for business owners to get educated on small business lending, we provide transparency into lending through data analytics, and actionable steps for owners to secure business finacing they understand. This platform is a <strong>for business owners only access</strong>. If you are a business owner and are interested please reach out info@smbrate.com</p>
      </div>
    </div>
  </div>
</div> -->